* {
	box-sizing: border-box;
}

.body-wrapper {
	max-width: 1960px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

header {
	align-items: center;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: space-between;
	padding: 25px 51px;
	width: 100%;
}

.header-left-box {
	align-items: center;
	display: flex;
	gap: 51px;
}

.header-navigation-container {
	align-items: center;
	display: flex;
	gap: 50px;
}

.header-navigation-container li a {
	color: black;
	font-family: 'Graphik LCG';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}

.header-navigation-container li a:hover {
	color: #FF6336;
}

.header-right-box {
	align-items: center;
	display: flex;
	gap: 10px;
}

.header-right-box a {
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: black;
	display: flex;
	font-family: 'Graphik LCG';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	height: 45px;
	justify-content: center;
	line-height: 45px;
	text-decoration: none;
	width: 120px;
}

.header-right-box a.header-try-free-btn {
	background-color: #FF6336;
	border: none;
	color: white;
}

.section-wrapper-main-section {
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	padding: 0 75px;
	padding-bottom: 137px;
	padding-top: 115px;
}

.main-content-box h2 {
	font-family: 'Graphik LCG';
	font-size: 65px;
	font-style: normal;
	font-weight: 600;
	line-height: 70px;
	margin-bottom: 50px;
	max-width: 552px;
}

.main-content-box .description {
	font-family: 'Graphik LCG';
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 50px;
	max-width: 471px;
}

.main-links-box {
	display: flex;
	gap: 10px;
}

.main-links-box a {
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: black;
	display: flex;
	font-family: 'Graphik LCG';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	height: 60px;
	justify-content: center;
	line-height: 60px;
	text-decoration: none;
	width: 160px;
}

.main-content-box .sub-description {
	font-family: 'Graphik LCG';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	margin-top: 25px;
}

.main-links-box a:first-child {
	background-color: #FF6336;
	border: none;
	color: white;
}

.second-section {
	align-items: center;
	background-color: #FF9C7D;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 50px;
	width: 100%;
}

.second-section-images {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 100px;
	justify-content: center;
	margin-top: 82px;
}

.second-section h3 {
	font-family: 'Graphik LCG';
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	line-height: 60px;
	max-width: 720px;
	text-align: center;
}

.third-section {
	display: flex;
	flex-direction: column;
	gap: 250px;
	padding: 90px 100px 150px 100px;
}

.third-section-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.third-section-container-reverse {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.third-section-container-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	width: 50%;
}

.third-section-container-image {
	width: 50%;
}

.third-section-container-info h3 {
	align-self: start;
	font-family: 'Graphik LCG';
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	line-height: 60px;
}

.third-section-container-info p {
	align-self: start;
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

.third-section-container-info a {
	align-self: start;
	color: black;
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	text-decoration: none;
}

.third-section-container-info a:hover {
	color: #FF6336;
}

#image-with-background {
	align-items: center;
	background-color: #FFF8E4;
	display: flex;
	height: 577px;
	justify-content: center;
	width: 632px;
}

.what-can-you-do-section {
	background-color: #FFF8E4;

}

.what-can-you-do-section h3 {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
}

.lokalise-item {
	max-width: 330px;
	text-align: center;

}

.lokalise-item-img {
	width: 160px;
	height: 120px;
	display: block;
	margin: 0 auto;
}

.lokalise-item-title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 35px;
	margin-top: 26px;
}

.lokalise-item-description {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin-top: 20px;
}

.lokalise-item-description a {
	color: black;
	text-decoration-color: grey;
}

.lokalise-item-description a:hover {
	color: red;
	text-decoration: none;
}

.what-can-you-do-list {
	display: flex;
	flex-wrap: wrap;
	gap: 75px;
	justify-content: space-between;
	max-width: 1290px;
	padding: 21px 54px 54px;
	margin: 58px auto 0;
}

.what-can-you-do-section .title {
	text-align: center;
}


.what-can-you-do-section {
	padding-top: 120px;
	padding-bottom: 54px;
}

.boost-lokalization-section {
	padding: 154px 78px 187px 75px;
}

.boost-lokalization-section .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
}

.boost-lokalization-list {
	display: flex;
	gap: 31px;
	max-width: 1290px;
	padding-top: 75px;
}

.boost-lokalization-item {
	max-width: 409px;
}

.boost-lokalization-title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
}

.boost-lokalization-title.managers {
	margin-top: 49px;
}

.boost-lokalization-title.developers {
	margin-top: 84px;
}

.boost-lokalization-title.translators {
	margin-top: 68px;
}


.boost-lokalization-description {
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 34px;
	margin-bottom: 25px;
}

.boost-lokalization-item a {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: black;
	text-decoration-color: grey;
}

.boost-lokalization-item a:hover {
	color: red;
	text-decoration: none;
}

.revolut-review-section {

	background-color: #C9E8F2;
}

.revolut-review-text {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	max-width: 920px;
	margin-bottom: 23px;
	letter-spacing: 0em;
	text-align: left;


}

.revolut-review-name {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 7px;
}


.revolut-review-container {
	display: flex;
	justify-content: space-between;
	padding: 63px 75px 105px 75px;
}

.rate-section {
	background: #DABC98;

}

.rate-section-container {
	padding: 90px 138px 90px 54px;
	display: flex;
	justify-content: space-between;
}

.rate-section .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 67px;
}

.vertical-divider {
	height: 168px;
	width: 2px;
	background-color: black;
}

.integrate-lokalise-wrapper {
	padding: 165px 209px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.integrate-lokalise-wrapper .title {
	max-width: 791px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
	line-height: 75px;
	text-align: center;
}

.integrate-lokalise-wrapper .sub-title {
	max-width: 539px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	text-align: center;

}

.integrate-lokalise-img {
	margin-top: 25px;
	margin-bottom: 32px;
}

.see-integrations-btn {
	display: flex;
	width: 193px;
	height: 60px;
	background-color: #FF6336;

}


.see-integrations-btn a {
	color: white;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

.see-integrations-btn a:hover {
	color: #000;
}


.localisation-easy-section {
	background-color: #FF9C7D;
}

.localisation-easy-wrapper {
	padding: 119px 328px 161px 328px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.localisation-easy-wrapper .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
	line-height: 75px;
	max-width: 784px;
	text-align: center;
}

.localisation-easy-wrapper .description {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	padding-top: 29px;
	padding-bottom: 54px;
}

.localisation-easy-wrapper .try-free-btn {
	background-color: #000;
	width: 160px;
	height: 60px;
	display: flex;
}

.localisation-easy-wrapper .try-free-btn a {
	color: white;
	text-decoration: none;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 60px;
	width: 100%;
	text-align: center;
}

.localisation-easy-wrapper .try-free-btn a:hover {
	color: #FF6336;
}


.top-footer-wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 92px;
	padding-left: 75px;
	padding-right: 85px;
	padding-bottom: 95px;
}


.top-footer-wrapper .left-box {
	display: flex;
	flex-direction: column;
	max-width: 290px;
}


.footer-logo1 {
	margin-top: 31px;
	width: 80px;
	height: 32px;
	margin-bottom: 11px;
}


.footer-links-box {
	display: flex;
	gap: 75px;
}

.footer-links-box li.title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 21px;
}

.footer-links-box li a {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	color: #000;
	text-decoration: none;
}

.footer-links-box li {
	margin-bottom: 15px;
}

.footer-links-box li a:hover {
	text-decoration: underline;
}

.footer-links-box ul {
	max-width: 187px;
}

.top-footer-wrapper .left-box .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 28px;
}

.top-footer-wrapper .left-box .description {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

.top-footer-wrapper .left-box a {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
	color: #000;
}

.top-footer-wrapper .left-box a:hover {
	text-decoration: underline;
}

.section-wrapper-footer {
	display: flex;
	flex-direction: column;
}

.bottom-footer-wrapper {
	padding: 52px 151px 48px 75px;
	display: flex;
	justify-content: space-between;
}

.bottom-left-box {
	display: flex;
}

.create-line {
	margin: 0 auto;
	width: 90%;
	border-top: 2px solid black;
}

.bottom-left-box .description {
	max-width: 301px;
	padding-left: 15px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.bottom-right-box p {
	max-width: 109px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}