* {
	box-sizing: border-box;
}

.body-wrapper {
	max-width: 1960px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #CCCCCC;
	justify-content: space-between;
	padding: 25px 51px;
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 999;
}

.header-left-box {
	align-items: center;
	display: flex;
	gap: 51px;
}

.header-logo-img {
	max-width: 130px;
	width: 100%;
}

.header-navigation-container {
	align-items: center;
	display: flex;
	gap: 50px;
}

.header-navigation-container li a {
	color: black;
	font-family: 'Graphik LCG';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}

.header-navigation-container li a:hover {
	color: #FF6336;
}

.header-right-box {
	align-items: center;
	display: flex;
	gap: 10px;
}

.header-right-box a {
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: black;
	display: flex;
	font-family: 'Graphik LCG';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	height: 45px;
	justify-content: center;
	line-height: 45px;
	text-decoration: none;
	width: 120px;
}

.header-right-box a.header-try-free-btn {
	background-color: #FF6336;
	border: none;
	color: white;
}

.section-wrapper-main-section {
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	padding: 180px 75px 137px 75px;
}

.main-content-left-box {
	width: 40%;
}

.main-content-right-box {
	width: 60%;
}

.main-content-right-box-image {
	width: 100%;
	max-width: 759px;
}

.main-content-left-box h2 {
	font-family: 'Graphik LCG';
	font-size: 65px;
	font-style: normal;
	font-weight: 600;
	line-height: 70px;
	margin-bottom: 50px;
	max-width: 552px;
}

.main-content-left-box .description {
	font-family: 'Graphik LCG';
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 50px;
	max-width: 471px;
}

.main-links-box {
	display: flex;
	gap: 10px;
}

.main-links-box a {
	display: flex;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: black;
	font-family: 'Graphik LCG';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	height: 60px;
	justify-content: center;
	line-height: 60px;
	text-decoration: none;
	width: 160px;
}

.main-content-left-box .sub-description {
	font-family: 'Graphik LCG';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	margin-top: 25px;
}

.main-links-box a:first-child {
	background-color: #FF6336;
	border: none;
	color: white;
}

.second-section {
	display: flex;
	align-items: center;
	background-color: #FF9C7D;
	flex-direction: column;
	justify-content: center;
	padding: 100px 50px;
	max-width: 100%;
}

.second-section-images {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 80px;
	margin-top: 82px;
}

.second-section-images img {
	max-width: 100%;
}

.second-section h3 {
	font-family: 'Graphik LCG';
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	line-height: 60px;
	max-width: 720px;
	text-align: center;
}

.third-section {
	display: flex;
	flex-direction: column;
	gap: 250px;
	padding: 90px 100px 150px 100px;
}

.third-section-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.third-section-container-reverse {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.third-section-container-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	width: 50%;
	max-width: 500px;
}

.third-section-container-image {
	width: 50%;
	max-width: 632px;
	max-height: 632px;
}

.third-section-img {
	max-width: 100%;
}

.third-section-container-image-with-background {
	background-color: #FFF8E4;
	max-width: 632px;
	max-height: 632px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 118px 66px;
}

.third-section-img-with-background {
	max-width: 500px;
	max-height: 300px;
	width: 100%;
}

.third-section-container-info h3 {
	align-self: start;
	font-family: 'Graphik LCG';
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	line-height: 60px;
}

.third-section-container-info p {
	align-self: start;
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

.third-section-container-info a {
	align-self: start;
	color: black;
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	text-decoration: none;
}

.third-section-container-info a:hover {
	color: #FF6336;
}

.what-can-you-do-section {
	background-color: #FFF8E4;
}

.what-can-you-do-section h3 {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
}

.lokalise-item {
	max-width: 330px;
	text-align: center;
}

.lokalise-item-img {
	max-width: 160px;
	display: block;
	margin: 0 auto;
}

.lokalise-item-title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 35px;
	margin-top: 26px;
}

.lokalise-item-description {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin-top: 20px;
}

.lokalise-item-description a {
	color: black;
	text-decoration-color: grey;
}

.lokalise-item-description a:hover {
	color: red;
	text-decoration: none;
}

.what-can-you-do-list {
	display: flex;
	flex-wrap: wrap;
	gap: 75px;
	justify-content: space-between;
	max-width: 1290px;
	padding: 21px 54px 54px;
	margin: 58px auto 0;
}

.what-can-you-do-section .title {
	text-align: center;
}

.what-can-you-do-section {
	padding-top: 120px;
	padding-bottom: 54px;
}

.boost-lokalization-section {
	padding: 154px 78px 187px 75px;
}

.boost-lokalization-section .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
}

.boost-lokalization-list {
	display: flex;
	gap: 31px;
	max-width: 1290px;
	padding-top: 75px;
}

.boost-lokalization-item {
	max-width: 409px;
}

.boost-lokalization-title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
}

.boost-lokalization-title.managers {
	margin-top: 49px;
}

.boost-lokalization-title.developers {
	margin-top: 84px;
}

.boost-lokalization-title.translators {
	margin-top: 66px;
}

.boost-lokalization-description {
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 34px;
	margin-bottom: 25px;
}

.boost-lokalization-item a {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: black;
	text-decoration-color: grey;
}

.boost-lokalization-item a:hover {
	color: red;
	text-decoration: none;
}

.revolut-review-section {
	background-color: #C9E8F2;
}

.revolut-review-text {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	max-width: 920px;
	margin-bottom: 23px;
	letter-spacing: 0em;
	text-align: left;
}

.revolut-review-name {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 7px;
}

.revolut-review-container {
	display: flex;
	justify-content: space-between;
	padding: 63px 75px 105px 75px;
}

.revolut-review-logo {
	max-width: 115px;
}

.revolut-review-photo {
	max-width: 310px;
}

.revolut-review-photo img {
	width: 100%;
}

.rate-section {
	background: #DABC98;
}

.rate-section-container {
	padding: 90px 110px 90px 54px;
	display: flex;
	justify-content: space-between;
}

.rate-image1 {
	max-width: 176px;
	max-height: 154px;
}

.rate-image2 {
	max-width: 461px;
	max-height: 168px;
}

.rate-section .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 60px;
}

.vertical-divider {
	height: 168px;
	width: 2px;
	background-color: black;
}

.integrate-lokalise-wrapper {
	padding: 165px 209px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.integrate-lokalise-wrapper .title {
	max-width: 791px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
	line-height: 75px;
	text-align: center;
	padding-bottom: 10px;
}

.integrate-lokalise-wrapper .sub-title {
	max-width: 539px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}

.integrate-lokalise-img {
	margin-top: 25px;
	margin-bottom: 32px;
	max-width: 1023px;
	width: 100%;
}

.see-integrations-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 193px;
	height: 60px;
	background-color: #FF6336;
}

.see-integrations-btn a {
	color: white;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

.see-integrations-btn a:hover {
	color: #000;
}

.localisation-easy-section {
	background-color: #FF9C7D;
}

.localisation-easy-wrapper {
	padding: 119px 328px 161px 328px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.localisation-easy-wrapper .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
	line-height: 75px;
	max-width: 784px;
	text-align: center;
}

.localisation-easy-wrapper .description {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	padding-top: 29px;
	padding-bottom: 54px;
}

.localisation-easy-wrapper .try-free-btn {
	background-color: #000;
	width: 160px;
	height: 60px;
	display: flex;
}

.localisation-easy-wrapper .try-free-btn a {
	color: white;
	text-decoration: none;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 60px;
	width: 100%;
	text-align: center;
}

.localisation-easy-wrapper .try-free-btn a:hover {
	color: #FF6336;
}

.top-footer-wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 92px;
	padding-left: 75px;
	padding-right: 85px;
	padding-bottom: 95px;
}

.top-footer-wrapper .left-box {
	display: flex;
	flex-direction: column;
	max-width: 290px;
}

.footer-logo1 {
	margin-top: 31px;
	width: 80px;
	height: 32px;
	margin-bottom: 11px;
}

.footer-links-box {
	display: flex;
	gap: 75px;
}

.footer-links-box li.title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 21px;
}

.footer-links-box li a {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	color: #000;
	text-decoration: none;
}

.footer-links-box li {
	margin-bottom: 15px;
}

.footer-links-box li a:hover {
	text-decoration: underline;
}

.footer-links-box ul {
	max-width: 187px;
}

.footer-photo {
	max-width: 500px;
	width: 100%;
}

.top-footer-wrapper .left-box .title {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 28px;
}

.top-footer-wrapper .left-box .description {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

.top-footer-wrapper .left-box a {
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
	color: #000;
}

.top-footer-wrapper .left-box a:hover {
	text-decoration: underline;
}

.top-footer-wrapper .right-box {
	padding-left: 30px;
}

.section-wrapper-footer {
	display: flex;
	flex-direction: column;
}

.bottom-footer-wrapper {
	padding: 52px 151px 48px 75px;
	display: flex;
	justify-content: space-between;
}

.bottom-left-box {
	display: flex;
}

.create-line {
	margin: 0 auto;
	width: 90%;
	border-top: 2px solid black;
}

.bottom-left-box .description {
	max-width: 301px;
	padding-left: 15px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.bottom-right-box p {
	max-width: 109px;
	font-family: 'Graphik LCG';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

@media (max-width: 1024px) {
	header {
		padding: 15px 20px;
	}

	.header-navigation-container li a {
		font-size: 14px;
	}

	.header-left-box {
		gap: 20px;
	}

	.header-navigation-container {
		gap: 25px;
	}

	.header-right-box a {
		width: 80px;
		font-size: 12px;
	}

	.section-wrapper-main-section {
		padding: 100px 35px 50px 35px;
	}

	.main-content-left-box h2 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 15px;
	}

	.main-content-left-box .description {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 15px;
	}

	.main-content-left-box .sub-description {
		font-size: 12px;
	}

	.main-links-box a {
		font-size: 10px;
		width: 100px;
		height: 40px;
	}

	.second-section {
		padding: 50px 25px;
	}

	.second-section h3 {
		font-size: 40px;
	}

	.second-section-images {
		margin-top: 40px;
		gap: 60px;
	}

	.second-section-images img {
		max-width: 10%;
	}

	.third-section {
		gap: 150px;
		padding: 70px 80px 130px 80px;
	}

	.third-section-container-info h3 {
		font-size: 40px;
		line-height: 45px;
	}

	.third-section-container-info p {
		font-size: 15px;
		line-height: 25px;
	}

	.third-section-container-info a {
		font-size: 15px;
	}

	.third-section-container-image {
		max-width: 450px;
		max-height: 450px;
	}

	.third-section-container-image-with-background {
		max-width: 450px;
		max-height: 450px;
		padding: 90px 50px;
	}

	.third-section-container-info {
		gap: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.what-can-you-do-section {
		padding-top: 80px;
		padding-bottom: 40px;
	}

	.what-can-you-do-section h3 {
		font-size: 40px;
	}

	.what-can-you-do-list {
		gap: 30px;
		padding: 10px 100px 54px;
	}

	.lokalise-item {
		max-width: 290px;
	}

	.lokalise-item-title {
		font-size: 20px;
		margin-top: 15px;
	}

	.lokalise-item-description {
		font-size: 15px;
		margin-top: 10px;
	}

	.lokalise-item-img {
		max-width: 140px;
	}

	.boost-lokalization-section {
		padding: 70px 50px 120px 65px;
	}

	.boost-lokalization-section .title {
		font-size: 40px;
		line-height: 50px;
	}

	.boost-lokalization-list {
		gap: 30px;
		padding-top: 40px;
	}

	.boost-lokalization-item {
		max-width: 380px;
	}

	.boost-lokalization-title {
		font-size: 25px;
	}

	.boost-lokalization-description {
		font-size: 17px;
		line-height: 25px;
	}

	.boost-lokalization-item a {
		font-size: 17px;
	}

	.revolut-review-text {
		font-size: 18px;
		line-height: 28px;
	}

	.revolut-review-container {
		padding: 50px 50px 60px 60px;
	}

	.revolut-review-logo {
		max-width: 70px;
	}

	.rate-image1 {
		display: none;
	}

	.rate-section .title {
		font-size: 28px;
		line-height: 35px;
		padding-right: 15px;
		padding-left: 55px;
	}

	.rate-section-container {
		padding: 50px 30px 50px 20px;
	}

	.integrate-lokalise-wrapper .title {
		font-size: 50px;
		line-height: 50px;
	}

	.integrate-lokalise-wrapper {
		padding: 100px 170px;
	}

	.integrate-lokalise-wrapper .sub-title {
		font-size: 23px;
		line-height: 25px;
	}

	.see-integrations-btn a {
		font-size: 14px;
	}

	.see-integrations-btn {
		width: 150px;
		height: 50px;
	}

	.localisation-easy-wrapper .title {
		font-size: 50px;
		line-height: 60px;
	}

	.localisation-easy-wrapper .description {
		font-size: 18px;
	}

	.localisation-easy-wrapper .try-free-btn a {
		font-size: 15px;
	}

	.localisation-easy-wrapper .try-free-btn {
		width: 150px;
	}

	.localisation-easy-wrapper {
		padding: 100px 300px 120px 300px;
	}

	.footer-links-box {
		gap: 45px;
	}

	.footer-photo {
		max-width: 250px;
	}

	.top-footer-wrapper .left-box .description {
		font-size: 15px;
	}

	.top-footer-wrapper {
		padding-bottom: 65px;
		padding-left: 65px;
		padding-right: 75px;
	}

	.top-footer-wrapper .left-box a {
		font-size: 18px;
	}

	.top-footer-wrapper .left-box .title {
		font-size: 35px;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	header {
		padding: 10px 15px;
	}

	.header-navigation-container li a {
		font-size: 12px;
	}

	.header-left-box {
		gap: 18px;
		padding-right: 10px;
	}

	.header-navigation-container {
		gap: 25px;
	}

	.header-right-box a {
		width: 70px;
		height: 35px;
		font-size: 12px;
	}

	.main-content-left-box h2 {
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 13px;
	}

	.main-content-left-box .description {
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 13px;
	}

	.main-content-left-box .sub-description {
		font-size: 11px;
	}

	.main-links-box a {
		font-size: 10px;
		width: 85px;
		height: 30px;
	}

	.second-section {
		padding: 40px 25px;
	}

	.second-section h3 {
		font-size: 35px;
	}

	.second-section-images {
		margin-top: 40px;
		gap: 60px;
	}

	.second-section-images img {
		max-width: 10%;
	}

	.third-section {
		gap: 100px;
		padding: 70px 70px 130px 70px;
	}

	.third-section-container-info h3 {
		font-size: 35px;
		line-height: 40px;
	}

	.third-section-container-info p {
		font-size: 13px;
		line-height: 22px;
	}

	.third-section-container-info a {
		font-size: 13px;
	}

	.third-section-container-image-with-background {
		padding: 65px 19px;
	}

	.what-can-you-do-section {
		padding-top: 70px;
		padding-bottom: 40px;
	}

	.what-can-you-do-section h3 {
		font-size: 35px;
	}

	.what-can-you-do-list {
		gap: 20px;
		padding: 10px 30px 54px;
	}

	.lokalise-item {
		max-width: 290px;
	}

	.lokalise-item-title {
		font-size: 18px;
		margin-top: 14px;
	}

	.lokalise-item-description {
		font-size: 14px;
		margin-top: 8px;
	}

	.lokalise-item-img {
		max-width: 140px;
	}

	.boost-lokalization-section {
		padding: 60px 40px 100px 55px;
	}

	.boost-lokalization-section .title {
		font-size: 35px;
		line-height: 45px;
	}

	.boost-lokalization-list {
		gap: 28px;
		padding-top: 35px;
	}

	.boost-lokalization-item {
		max-width: 380px;
	}

	.boost-lokalization-title {
		font-size: 20px;
	}

	.boost-lokalization-description {
		font-size: 15px;
		line-height: 20px;
	}

	.boost-lokalization-item a {
		font-size: 15px;
	}

	.revolut-review-text {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
		padding-right: 10px;
	}

	.revolut-review-container {
		padding: 30px;
	}

	.revolut-review-logo {
		max-width: 70px;
	}

	.revolut-review-name {
		font-size: 14px;
	}

	.rate-image1 {
		display: none;
	}

	.rate-section .title {
		font-size: 24px;
		line-height: 35px;
	}

	.rate-section-container {
		padding: 50px 30px;
	}

	.integrate-lokalise-wrapper .title {
		font-size: 40px;
		line-height: 45px;
	}

	.integrate-lokalise-wrapper {
		padding: 80px;
	}

	.integrate-lokalise-wrapper .sub-title {
		font-size: 22px;
		line-height: 23px;
	}

	.see-integrations-btn a {
		font-size: 13px;
	}

	.see-integrations-btn {
		width: 140px;
		height: 45px;
	}

	.localisation-easy-wrapper .title {
		font-size: 40px;
		line-height: 55px;
	}

	.localisation-easy-wrapper .description {
		font-size: 16px;
	}

	.localisation-easy-wrapper .try-free-btn a {
		font-size: 14px;
	}

	.localisation-easy-wrapper .try-free-btn {
		width: 120px;
		height: 60px;
	}

	.localisation-easy-wrapper {
		padding: 80px 250px 100px 250px;
	}

	.footer-links-box {
		gap: 30px;
	}

	.footer-photo {
		max-width: 250px;
	}

	.top-footer-wrapper .left-box .description {
		font-size: 11px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.top-footer-wrapper {
		padding-bottom: 35px;
		padding-left: 50px;
		padding-right: 65px;
	}

	.top-footer-wrapper .left-box a {
		font-size: 12px;
	}

	.top-footer-wrapper .left-box .title {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.footer-links-box li.title {
		font-size: 15px;
	}

	.footer-links-box li a {
		font-size: 12px;
		line-height: 12px;
	}

	.footer-links-box li {
		margin-bottom: 12px;
	}

	.bottom-left-box .description {
		font-size: 10px;
		max-width: 250px;
	}

	.bottom-right-box p {
		font-size: 10px;
	}
}

@media (max-width: 376px) {
	header {
		padding: 5px;
	}

	.header-navigation-container li a {
		font-size: 8px;
	}

	.header-left-box {
		gap: 10px;
		padding-right: 10px;
	}

	.header-navigation-container {
		gap: 10px;
	}

	.header-right-box a {
		width: 50px;
		height: 25px;
		font-size: 9px;
	}

	.header-right-box {
		gap: 8px;
	}

	.section-wrapper-main-section {
		padding: 80px 20px 30px 20px;
	}

	.main-content-left-box h2 {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}

	.main-content-left-box .description {
		font-size: 10px;
		line-height: 15px;
		margin-bottom: 13px;
	}

	.main-content-left-box .sub-description {
		font-size: 8px;
	}

	.main-links-box a {
		font-size: 8px;
		width: 70px;
		height: 20px;
	}

	.second-section {
		padding: 35px 25px;
	}

	.second-section h3 {
		font-size: 30px;
		line-height: 30px;
	}

	.second-section-images {
		margin-top: 40px;
		gap: 30px;
	}

	.second-section-images img {
		max-width: 20%;
	}

	.third-section {
		gap: 80px;
		padding: 45px 10px;
	}

	.third-section-container-info {
		gap: 5px;
	}

	.third-section-container-info h3 {
		font-size: 18px;
		line-height: 20px;
	}

	.third-section-container-info p {
		font-size: 10px;
		line-height: 12px;
	}

	.third-section-container-info a {
		font-size: 9px;
	}

	.third-section-container-image-with-background {
		padding: 35px 10px;
	}

	.what-can-you-do-section {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.what-can-you-do-section h3 {
		font-size: 30px;
		line-height: 35px;
	}

	.what-can-you-do-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		column-gap: 25px;
		padding: 10px 30px;
		margin-top: 15px;
	}

	.lokalise-item {
		width: 100%;
		border-bottom: 1px solid black;
	}

	.lokalise-item:last-child {
		border: none;
	}

	.lokalise-item-title {
		font-size: 15px;
		margin-top: 10px;
	}

	.lokalise-item-description {
		font-size: 12px;
		margin-top: 5px;
		line-height: 20px;
	}

	.lokalise-item-img {
		max-width: 140px;
	}

	.boost-lokalization-section {
		padding: 40px;
	}

	.boost-lokalization-section .title {
		font-size: 30px;
		line-height: 35px;
	}

	.boost-lokalization-list {
		flex-direction: column;
		column-gap: 10px;
		padding-top: 35px;
	}

	.boost-lokalization-item {
		max-width: 380px;
		border-bottom: 1px solid bisque;
	}

	.boost-lokalization-item:last-child {
		border: none;
	}

	.boost-lokalization-image {
		max-width: 100px;
	}

	.boost-lokalization-title {
		font-size: 15px;
	}

	.boost-lokalization-title.managers,
	.boost-lokalization-title.developers,
	.boost-lokalization-title.translators {
		margin-top: 10px;
	}

	.boost-lokalization-description {
		font-size: 12px;
		line-height: 18px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.boost-lokalization-item a {
		font-size: 12px;
	}

	.revolut-review-text {
		font-size: 12px;
		line-height: 18px;
	}

	.revolut-review-container {
		padding: 20px;
	}

	.revolut-review-logo {
		max-width: 50px;
	}

	.revolut-review-name {
		font-size: 12px;
	}

	.rate-section .title {
		font-size: 24px;
		line-height: 30px;
		padding: 0;
		text-align: center;
		border-bottom: 1px solid black;
	}

	.vertical-divider {
		display: none;
	}

	.rate-section-container {
		flex-direction: column;
		padding: 30px;
	}

	.integrate-lokalise-wrapper .title {
		font-size: 35px;
		line-height: 40px;
	}

	.integrate-lokalise-wrapper {
		padding: 40px;
	}

	.integrate-lokalise-wrapper .sub-title {
		font-size: 20px;
		line-height: 22px;
	}

	.see-integrations-btn a {
		font-size: 12px;
	}

	.see-integrations-btn {
		width: 130px;
		height: 40px;
	}

	.localisation-easy-wrapper .title {
		font-size: 35px;
		line-height: 45px;
	}

	.localisation-easy-wrapper .description {
		font-size: 15px;
		padding-bottom: 30px;
	}

	.localisation-easy-wrapper .try-free-btn a {
		font-size: 13px;
	}

	.localisation-easy-wrapper .try-free-btn {
		width: 100px;
		height: 55px;
	}

	.localisation-easy-wrapper {
		padding: 40px;
	}

	.top-footer-wrapper .left-box .description {
		font-size: 11px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.top-footer-wrapper {
		padding: 15px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.top-footer-wrapper .left-box {
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid black;
	}

	.top-footer-wrapper .right-box {
		padding: 30px;
	}

	.footer-links-box {
		gap: 15px;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.top-footer-wrapper .left-box a {
		font-size: 12px;
	}

	.top-footer-wrapper .left-box .title {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.footer-links-box li.title {
		font-size: 13px;
		margin-bottom: 10px;
	}

	.footer-links-box li a {
		font-size: 10px;
		line-height: 12px;
	}

	.footer-links-box li {
		margin-bottom: 4px;
	}

	.footer-links-box ul {
		width: 100px;
	}

	.bottom-footer-wrapper {
		padding: 20px;
	}

	.bottom-left-box .description {
		font-size: 8px;
		max-width: 150px;
	}

	.bottom-right-box p {
		font-size: 8px;
	}
}