* {
	box-sizing: border-box;
}
.body-wrapper {
	max-width: 1960px;
	overflow: hidden;
	width: 100%;
}
header {
	align-items: center;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: space-between;
	padding: 25px 51px;
	width: 100%;
}
.header-left-box {
	align-items: center;
	display: flex;
	gap: 51px;
}
.header-navigation-container {
	align-items: center;
	display: flex;
	gap: 50px;
}
.header-navigation-container li a {
	color: black;
	font-family: 'Graphik LCG';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}
.header-right-box {
	align-items: center;
	display: flex;
	gap: 10px;
}
.header-right-box a {
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: black;
	display: flex;
	font-family: 'Graphik LCG';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	height: 45px;
	justify-content: center;
	line-height: 45px;
	text-decoration: none;
	width: 120px;
}
.header-right-box a.header-try-free-btn {
	background-color: #FF6336;
	border: none;
	color: white;
}
.section-wrapper-main-section {
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	padding: 0 75px;
	padding-bottom: 137px;
	padding-top: 115px;
}
.main-content-box h2 {
	font-family: 'Graphik LCG';
	font-size: 65px;
	font-style: normal;
	font-weight: 600;
	line-height: 70px;
	margin-bottom: 50px;
	max-width: 552px;
}
.main-content-box .description {
	font-family: 'Graphik LCG';
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 50px;
	max-width: 471px;
}
.main-links-box {
	display: flex;
	gap: 10px;
}
.main-links-box a {
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: black;
	display: flex;
	font-family: 'Graphik LCG';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	height: 60px;
	justify-content: center;
	line-height: 60px;
	text-decoration: none;
	width: 160px;
}
.main-content-box .sub-description {
	font-family: 'Graphik LCG';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	margin-top: 25px;
}
.main-links-box a:first-child {
	background-color: #FF6336;
	border: none;
	color: white;
}
.second-section {
	align-items: center;
	background-color: #FF9C7D;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 50px;
	width: 100%;
}
.second-section-images {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 100px;
	justify-content: center;
	margin-top: 82px;
}
.second-section h3 {
	font-family: 'Graphik LCG';
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	line-height: 60px;
	max-width: 720px;
	text-align: center;
}
.third-section {
	display: flex;
	flex-direction: column;
	gap: 250px;
	padding: 90px 100px 150px 100px;
}
.third-section-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.third-section-container-reverse{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.third-section-container-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	width: 500px;
}
.third-section-container-info h3 {
	align-self: start;
	font-family: 'Graphik LCG';
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	line-height: 60px;
}
.third-section-container-info p {
	align-self: start;
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}
.third-section-container-info a {
	align-self: start;
	color: black;
	font-family: 'Graphik LCG';
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	text-decoration: none;
}
#image-with-background {
	align-items: center;
	background-color: #FFF8E4;
	display: flex;
	height: 577px;
	justify-content: center;
	width: 632px;
}